body.bg {
    background: url("https://24dcs096.github.io/library_management_system/bg.jpg") no-repeat center center fixed;
    background-size: cover;
}

body {
    font-family: Arial;
    margin: 0;
}

.sidebar {
    width: 220px;
    height: 100vh;
    background: #2c3e50;
    color: white;
    position: fixed;
    padding: 20px;
}

.sidebar a {
    display: block;
    color: white;
    margin: 10px 0;
    text-decoration: none;
}

.main {
    margin-left: 240px;
    padding: 20px;
}

.container {
    width: 300px;
    margin: 100px auto;
    background: rgba(255,255,255,0.8);
    padding: 20px;
    border-radius: 10px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}
